:root {
  --website-color: #c32853;
  --website-hover-color: #d247503b;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-100: 100;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-size--10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-36: 36px;
  --body-font: #575a6e;
  --black-color: black;
  --white-color: white;
  --gray-color: #797979;

  --black-opacity: rgba(0, 0, 0, 0.88);
  --backKundliReport: #f2ecf6;
  --black-opacity: rgba(0, 0, 0, 0.88);
  --box-shadow-common: 0px 0px 20px 0px #0000000d;

  --website-light-color: #e3725d21;
  --website-gradient-back: linear-gradient(90deg, #c32853 0%, #ee7e49 100%);
  --solid-hover-color: #c32853;
  --light-website-gradient-back: linear-gradient(
    270deg,
    #fdf3ec 0%,
    #f9e9ec 100%
  );

  --input--border-color: 1px solid rgba(227, 114, 93, 0.3);
  --border-color: rgba(227, 114, 93, 0.3);
  --new-drop--shadow: 0px 0px 20px 0px #0000000d;
  --new-body-color: #343434;
}


.chogadiyaHeadingTable{
    font-size: var(--font-size-26);
font-weight: var(--font-weight-600);
line-height: 130%;
}

.chogadiyaTableTh{
font-weight: var(--font-weight-600);
font-size: var(--font-size-16);
line-height: 100%;
color: var(--new-body-color);
}

.choghadiya_border_style .new_border_bottom:last-child{
    border: unset;
}


@media (max-width:1200px) {
    .chogadiyaTitle{
        font-size: 20px !important;
    }
    .chogadiyaDate{
        font-size: 16px !important;
    }
    .chogadiyaBadge{
        font-size:14px !important ;
    }
}

@media (max-width:768px) {
    .chogadiyaTitle{
        font-size: 18px !important;
    }
    .chogadiyaDate{
        font-size: 14px !important;
    }
    .chogadiyaBadge{
        font-size:12px !important ;
    }
    .chogadiyaHeadingTable{
        font-size: 20px;
    }
}