
:root {
  --website-color: #C32853;
  --website-hover-color: #74419d3b;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-100: 100;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-size--10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-36: 36px;
  --body-font: #575A6E;
  --black-color: black;
  --white-color: white;
  --gray-color: #797979;
 
  --black-opacity: rgba(0, 0, 0, 0.88);
  --backKundliReport: #F2ECF6;
  --black-opacity: rgba(0, 0, 0, 0.88);
  --box-shadow-common: 0px 0px 20px 0px #0000000D;

  --website-light-color:#e3725d21;
  --website-gradient-back:linear-gradient(90deg, #C32853 0%, #EE7E49 100%);
   --solid-hover-color: #C32853;  
   --light-website-gradient-back: linear-gradient(270deg, #FDF3EC 0%, #F9E9EC 100%);

   --input--border-color:  1px solid rgba(227, 114, 93, 0.3);
    --border-color:rgba(227, 114, 93, 0.3);
    --new-drop--shadow:0px 0px 20px 0px #0000000D;
     --new-body-color:#343434;
}
.HeroSection{
    margin-top: -100px;
}

.box_shadow_navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chooseCategorySlider .slick-dots li.slick-active button:before{
    color: var(--website-color);
}

.chooseCategorySlider .slick-dots {
    bottom: -48px;
}

.articlesDesktop{
    display: flex !important;
    gap: 0px !important;
}

.video-js{
    min-height: 324px;
    max-height: 324px;
}


.video-js::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
    pointer-events: none; 
  }

  .video-js::-webkit-media-controls {
    display: none !important;
  }
  
  .video-js::-webkit-media-controls-panel {
    display: none !important;
  }
  
  .video-js::-webkit-media-controls-play-button {
    display: none !important;
  }
  
  .video-js::-webkit-media-controls-timeline {
    display: none !important;
  }
  
  .video-js::-webkit-media-controls-volume-slider {
    display: none !important;
  }
  
  .video-js::-webkit-media-controls-current-time-display,
  .video-js::-webkit-media-controls-time-remaining-display {
    display: none !important;
  }

@keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }

  .waves {
    position: absolute;
    width: 150px;
    height: 150px;
    /* background: rgba(0, 0, 0, 0.3); */
    background: #d1d5dc;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    left: -35px;
    top: -34px;
    /* right: -50px;
    bottom: -50px; */
    /* z-index: -1; */
     -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
  }
          
  .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

.video-main {
    position: relative;
  }

  .freeKundliHomepageForm form > div:first-child > div:nth-child(2), .freeKundliHomepageForm form > div:nth-child(4){
    min-height: 87px;
  }

  .book_pooja_chat_btns{
    max-width: 185px;
  }

  @media(max-width: 1023px){
    
  .book_pooja_chat_btns_part > .book_pooja_chat_btns:nth-child(odd) {
    margin-left: auto;
  }

  .freeKundliHomepageForm{
    max-width: 409px;
    margin: auto;
  }
  }

  @media(max-width: 767px){
    .HeroSection {
      margin-top: -92px;
  }
}

@media(max-width: 576px){
    .ChooseCategory_slider_padding{
        padding-bottom: 70px !important;
    }
}

@media(min-width: 1536px){
  .homepage_astroList_part > div > div:nth-child(5), .homepage_astroList_part > div > div:nth-child(6), .homepage_blogList_part > .testimonial > div > div:nth-child(5), .homepage_blogList_part > .testimonial > div > div:nth-child(6){
      display: none;
  }
  
}