.rashi_hover_part {
  cursor: pointer;
}

.rashi_hover_part,
.rashi_hover_part .gradient-background,
.rashi_hover_part .gradient-background img,
.rashi_hover_part h3,
.rashi_hover_part p {
  transition: 0.4s ease, color 0.4s ease;
}

.rashi_hover_part:hover {
  background: linear-gradient(90deg, #c32853, #ee7e49);
  transition: 0.4s ease;
      transform: scaleX(-1);
}

.rashi_hover_part:hover .gradient-background {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
}

.rashi_hover_part:hover .gradient-background img {
    filter:  invert(23%) sepia(38%) saturate(5105%) hue-rotate(326deg) brightness(85%) contrast(88%);
    transform: scaleX(-1);
}

.rashi_hover_part:hover h3,
.rashi_hover_part:hover p{
    color: #fff;
    transform: scaleX(-1);
}