.firstLine{
    border: 2px solid;
border-image-source: linear-gradient(90deg, #C32853 0%, #EE7E49 100%);

}

.firstLine_secondLine::before, .firstLine_secondLine::after{
    content: '';
    position: absolute;
    top: 0;
        background: linear-gradient(90deg, #C32853 0%, #EE7E49 100%);
width: 2px;
height: 100%;
}

.firstLine_secondLine::before{
    left: -67px;
}

.firstLine_secondLine::after{
    right: -67px;
}

@media(max-width: 1799px){
 .firstLine_secondLine::before{
    left: -47px;
}

.firstLine_secondLine::after{
    right: -47px;
}   
}


@media(max-width: 1799px){
 .firstLine_secondLine::before{
    left: -39px;
}

.firstLine_secondLine::after{
    right: -39px;
}   
}

@media(max-width: 1399px){
 .firstLine_secondLine::before{
    left: -30px;
}

.firstLine_secondLine::after{
    right: -30px;
}   
}

@media(max-width: 1119px){
 .firstLine_secondLine::before{
    left: -24px;
}

.firstLine_secondLine::after{
    right: -24px;
}   
}

@media(max-width: 1119px){
 .firstLine_secondLine::before{
    left: -20.5px;
}

.firstLine_secondLine::after{
    right: -20.5px;
}   
}

@media(max-width: 767px){
    .firstLine_secondLine::before, .firstLine_secondLine::after{
        display: none;
        content: unset;
    }
}