.remedies_content_set {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.remedies_content_set > div:first-child {
  padding-top: 15px;
}

.remedies_content_set > div {
  display: flex;
  gap: 10px;
}

.remedies_title {
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
}
.remedies_content_set > div > h4 {
  font-weight: 700;
  min-width: max-content;
}
.remedies_content_set > div > h4,
.remedies_content_set > div > p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

@media(max-width: 767px){
    .remedies_content_set > div{
        flex-direction: column;
        gap: 1px;
    }

    .remedies_content_set{
        gap: 10px;
    }

    .remedies_content_set > div > h4,
.remedies_content_set > div > p {
  font-size: 14px;
  line-height: 20px;
}
}