@tailwind utilities;
@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Black.woff2') format('woff2'),
       url('/font/Poppins-Black.woff') format('woff'),
       url('/font/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-ExtraBold.woff2') format('woff2'),
       url('/font/Poppins-ExtraBold.woff') format('woff'),
       url('/font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Bold.woff2') format('woff2'),
       url('/font/Poppins-Bold.woff') format('woff'),
       url('/font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-SemiBold.woff2') format('woff2'),
       url('/font/Poppins-SemiBold.woff') format('woff'),
       url('/font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Medium.woff2') format('woff2'),
       url('/font/Poppins-Medium.woff') format('woff'),
       url('/font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Regular.woff2') format('woff2'),
       url('/font/Poppins-Regular.woff') format('woff'),
       url('/font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Light.woff2') format('woff2'),
       url('/font/Poppins-Light.woff') format('woff'),
       url('/font/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-ExtraLight.woff2') format('woff2'),
       url('/font/Poppins-ExtraLight.woff') format('woff'),
       url('/font/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Thin.woff2') format('woff2'),
       url('/font/Poppins-Thin.woff') format('woff'),
       url('/font/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::placeholder{
  font-family: "Poppins", sans-serif;
}



@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px; 
  }
}
 
@media (min-width: 1120px) {
  .container {
    max-width: 1020px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1254px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1230px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1430px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
